<%- include('../partials/header1') %>
<div class="container">
    <div class="main-body">
        <div class="centre">

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Classes Attended</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><%=Present %></span></h2>
                    <p class="m-b-0">Classes not attended : <%=Absent %></p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Percentage</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span><%=percent%>%</span></h2>
                    <p class="m-b-0">Total Classes taken : <%=Total %></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h2 class="m-b-20">Leaves :</h2>
                    <h2 class="text-right green"><i class="fa fa-refresh f-left"></i><span><%=Leaves %></span></h2>
                    <% if(Attend!=0) {%>
                    <h2 class="text-right red">You need to attend <%=Attend %> classes to be safe</h2>
                    <% } %>
                    <!-- <p class="m-b-0 red">classes to attend to be safe : </p> -->
                </div>
            </div>
        </div>


        <div class="box" id="heading">
            <h1 class="main-heading">
            LIST OF DAYS :
            </h1>
        
                <div class="item">
                  <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        
                        <th scope="col">DATE</th>
                        <th scope="col">PRESENT</th>
                        
                      </tr>
                    </thead>
        
                    <% for(let item of listItems){%>
                    <tbody>
                      <% if(item.attended==false){ %>
                      <tr class="table-danger">
                        
                        <td id="title<%=item.id%>" >
                          <%= item.date %>
                        </td>
                        <td id="title<%=item.id%>">
                           No 
                        </td>
                        
                      </tr>
                      <% } %>
                      <% if(item.attended==true){%> 
                        <tr class="table-success">
                        
                          <td id="title<%=item.id%>" >
                            <%= item.date %>
                          </td>
                          <td id="title<%=item.id%>">
                             Yes
                          </td>
                          
                        </tr>

                        <% } %>


                    </tbody>
                    <% } %>
                  </table>
        
                      </div>
                    </div>






    </div>
    </div>
</div>


<%- include('../partials/footer') %>