<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="public/styles/main.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" integrity="sha512-eSeh0V+8U3qoxFnK3KgBsM69hrMOGMBy3CNxq/T4BArsSQJfKVsKb5joMqIPrNMjRQSTl4xG8oJRpgU2o9I7HQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>IRIS</title>
</head>


    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom main-header">
        <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class ="title" src="https://git.iris.nitk.ac.in/uploads/-/system/appearance/logo/1/irise.png " />
            
            <div class="app-header__logo">
            <a  data-toggle="tooltip" data-placement="bottom" title="Integrated Resource and Information Sharing" class="logo-src"></a>
            </div>
          <span class="fs-4"></span>
        </a>
  
        <div class="list1">
          <div></div>
        <ul class="nav nav-pills">
          <!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->

          <div class="form-group reg1">
          <li class="nav-item home-icons"><a href="https://www.nitk.ac.in/" class="btn btn-dark">Home</a></li>
        </div>
          <div class="form-group reg1">
          <li class="nav-item home-icons"><a href="https://www.nitk.ac.in/gallery" class="btn btn-dark">Gallary</a></li>
          </div>
          <div class="form-group reg1">
          <li class="nav-item home-icons"><a href="https://www.nitk.ac.in/about_us" class="btn btn-dark ">About Us</a></li>
        </div>
          <div class="form-group reg1">
          <li class="nav-item home-icons"><a href="/logout" class="btn btn-dark">Logout</a></li>
        </div>
        </ul>
      </div>
      </header>

      
    
    
  <main>
    
<body class="main1">


<div class="container mt-5 reg">
    <h1 class="top_1">Select Your Courses :</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            
            <p class="red"><%=CError%></p>
            <!-- Makes POST request to /register route -->
            <form action="/courseregistration" method="POST">


              <div class="form-group reg">
                <label>1St course</label>
                <select name="code1" class="form-control ch">
                    <% for(let item of listItems){%>
                  <option value="<%=item.code%>"><%=item.code%> (<%=item.title%>)</option>
                  <% } %>
                </select>
              </div>
            
              <div class="form-group reg">
                <label>2St course</label>
                <select name="code2" class="form-control ch">
                    <% for(let item of listItems){%>
                  <option value="<%=item.code%>"><%=item.code%> (<%=item.title%>)</option>
                  <% } %>
                </select>
              </div>
             
             
              <div class="reg">
              <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Register</button>
            </div>

            </form>
  
          </div>
        </div>
      </div>
  
    
  
    </div>
  </div>

</main>
     
       
<footer>




</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    console.log("hi");
    $(".ch").chosen();
  });
</script>

</body>

</html>