<%- include('../partials/header1') %>

<div class="jumbotron centered home">
    <div class="container">
    <!-- <img src="https://cdn0.iconfinder.com/data/icons/education-line-circle-1/614/243_-_Male_Student-512.png" height="160px" /> -->
      <h1 class="display-3">Hello, <%=StudentName %></h1>
      <p class="lead">Your Dashboard
      </p>
      <hr>
      <a class="btn btn-primary btn-lg px-4 gap-3" href="/allcoursesstudent" role="button">View all courses</a>
      <a class="btn btn-dark btn-lg" href="/courseregistration" role="button" id="done" <%=hidden%>>Course registration</a>
      <a class="btn btn-dark btn-lg" href="/studeletecourses" role="button" id="done" <%=hidden_delete_option%>>Delete courses</a>

  
    </div>
  </div>


<%- include('../partials/footer') %>